[Container]
Image=codeberg.org/forgejo/forgejo:11.0.1
PublishPort=8080:3000
PublishPort=2222:22
Volume=forgejo-data:/data:Z

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
