[Container]
Image=codeberg.org/forgejo/forgejo:11.0.1
PublishPort=10080:3000
PublishPort=10022:22
Volume=forgejo-data:/data:Z

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
