[Container]
Image=docker.io/grafana/grafana-oss:12.0.0
Volume=grafana-data:/var/lib/grafana:Z
PublishPort=8081:3000

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
