[Container]
Image=ghcr.io/ajnart/homarr:latest
Volume=homarr-configs:/app/data/configs:Z
Volume=homarr-icons:/app/public/icons:Z
Volume=homarr-data:/app/data:Z
PublishPort=7575:7575

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
